<a href="https://colab.research.google.com/github/Nischith7102005/Nischith7102005/blob/main/Sales_Analysis_Business_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd
df=pd.read_csv('/supermarket_sales_sample.csv')
df.head()
df['Total']=df['Total'].astype(int)
df['Date']=pd.to_datetime(df['Date'])
df[['Total','Date']].head()
df['Gender'].value_counts(normalize=0,sort=1)
df.groupby(['City','Gender'])[['City','Gender','Customer type']].value_counts()
df.groupby('City')['Quantity'].sum().sort_values(ascending=False).head(2)

Product line
Clothing       89
Books          87
Electronics    86
Health         85
Sports         81
Food           72
Name: count, dtype: int64